*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0, 0, 255);

}
.wrapper{
    display: flex;
    justify-content: center;
}
.box{
    height: 500px;
    width: 338px;
    background-color: aliceblue;
    margin: 10px;
}

.imgbox{
    background-image: url('dhoni_bhai.jpeg');
    position: relative;
    height: 100%;
    cursor: pointer;
}


.hold{
    border: 4px solid red ;
}

.hide{
    display: none;
}

.change{
    background-color: violet;
    border-style: dashed;
}