* {
    margin: 0;
    padding: 0;
}

body {
    /* background: rgb(0, 198, 251); */
    height: 100vh;
    background: rgb(0,198,251);
    background: radial-gradient(circle, rgba(0,198,251,1) 0%, rgba(0,91,234,1) 100%);

}

.wrapper {
    display: flex;
    justify-content: center;
}

.box {
    height: 500px;
    width: 338px;
    background-color: aliceblue;
    margin: 10px;
}

.imgbox {
    background-image: url('dhoni_bhai.jpeg');
    position: relative;
    height: 100%;
    cursor: pointer;
}


.hold {
    border: 4px solid #497174;
}

.hide {
    display: none;
}

.change {
    background-color: #eb6440;
    border-style: dashed;
}